HashKnownHosts no

Host og-remote
    Port 2201
    HostName doanac.asuscomm.com

Host minnowboard apalis-imx6-1 apalis-imx6-2 rpi4-1 imx8mm
    User fio
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host r1-lon.infra.foundries.io
    ProxyCommand ssh og-jumphost.foundries.io nc -q0 %h %p
    ForwardAgent yes

Host og-worker-*.us-east-2.infra.foundries.io
    ProxyCommand ssh og-aws.us-east-2.infra.foundries.io nc -q0 %h %p
    ForwardAgent yes

Host aws-worker-* aws-partner-* partner-*
    ProxyCommand ssh og-aws.infra.foundries.io nc -q0 %h %p
    ForwardAgent yes
